body {
  cursor:crosshair;
}
.main-title {
  font-family: GTFTeknoTRIAL-Two;
  font-size: 5vw;
  font-weight: lighter;
  position: absolute;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
}


.main-title-2 {
  font-family: GTFEkstraTRIAL-Regular;
  font-size: 2vw;
  font-weight: lighter;
  position: absolute;
  top: 60vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
}

#canvas-wrapper {
  height: 100vh;
  width: 100vw;
}
