@font-face {
   font-family: 'SuisseIntlMono-Regular';
   src:  url('./assets/SuisseIntlMono-Regular.otf') format('otf');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'GTFEkstraTRIAL-Regular';
   src:  url('./assets/GTFEkstraTRIAL-Regular.otf') format('otf');
   font-weight: 600;
   font-style: normal;
}

body {
  cursor:crosshair;
  margin: 0px;
  background-color: #F7F2EC;
}

.blur {
  filter: blur(10px);
  transition: filter .1s ease;
}


.main-title {
  font-family: SuisseIntlMono-Regular;
  font-size: 4vw;
  font-weight: lighter;
  position: absolute;
  top: 43vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  color: black;
  line-height: 90px;
  white-space: nowrap;
  @media screen and (max-width: 900px) {
    line-height: initial;
     white-space: initial;
     font-size: 7vw;
     top: 40vh;
  }
}


.main-title-2 {
  font-family: GTFEkstraTRIAL-Regular;
  font-size: 20px;
  font-weight: lighter;
  position: absolute;
  top: 52vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  color: black;
  @media screen and (max-width: 900px) {
    line-height: initial;
    white-space: initial;
    font-size: 20px;
    top: 57vh;
  }
}

#canvas-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

}

.clients {
  position: absolute;
  left: 20px;
  z-index: 2;
  top: 20px;
  margin: 0px;
  font-family: GTFEkstraTRIAL-Regular;
}

.clients:hover{
  text-decoration: underline;
  cursor: pointer;
}

.info{
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0px;
  z-index: 2;
  font-family: GTFEkstraTRIAL-Regular;
}

.info:hover{
  text-decoration: underline;
  cursor: pointer;
}

.scroll {
  font-family: GTFEkstraTRIAL-Regular;
  margin-top: 100vh;
  position: relative;
  z-index: 10;
  margin-bottom: 40vh;
  text-align: center;
  font-size: 10px;

}
