@font-face {
   font-family: 'SuisseIntlMono-Regular';
   src:  url('./assets/SuisseIntlMono-Regular.otf') format('otf');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'GTFEkstraTRIAL-Regular';
   src:  url('./assets/GTFEkstraTRIAL-Regular.otf') format('otf');
   font-weight: 600;
   font-style: normal;
}

body {
  cursor:crosshair;
  margin: 0px;
  background-color: #F7F2EC;
}


.blur {
  filter: blur(10px);
  transition: filter .5s ease;
}

.mini-title {
  font-family: acumin-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;

}

.main-title {
  font-family: acumin-pro,sans-serif;
font-weight: 600;
font-style: normal;
  font-size: 14vw;
  position: relative;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  color: black;
  line-height: 90px;
  white-space: nowrap;


  @media screen and (max-width: 600px) {
    line-height: initial;
    white-space: normal;
    font-size: 15vw;
    top: 43vh;
  }
}


.main-title-2 {
  font-family: acumin-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  position: relative;
  top: 46vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  color: black;
  width: 50%;
  @media screen and (max-width: 600px) {
    line-height: initial;
    white-space: normal;
    font-size: 20px;
    top: 48vh;
  }
}

#canvas-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: filter .2s ease;

}

.clients {
  position: absolute;
  left: 20px;
  z-index: 2;
  top: 20px;
  margin: 0px;
  font-family: GTFEkstraTRIAL-Regular;
}

.clients:hover{
  text-decoration: underline;
  cursor: pointer;
}

.info{
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0px;
  z-index: 2;
  font-family: GTFEkstraTRIAL-Regular;
}

.info:hover{
  text-decoration: underline;
  cursor: pointer;
}


.placeholder {
  height: 100vh;
  scroll-snap-align: start;
}

.container {
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;

}
.scroll {
  font-family: GTFEkstraTRIAL-Regular;
  margin-top: 0;
  position: relative;
  z-index: 10;
  height: 100vh;
  text-align: center;
  font-size: 30px;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;

}

.panel {
  margin-bottom: 40px;
}
